*{
  margin: 0px;
  padding: 0px;
}
body{
  
}
video{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}
.manu{
  height: 50px;
  background-color: rgba(0,0,0,0.7);
  position: relative;
  float: right;
  margin-top: 30px;
  border-radius: 0px 0px 0px 100px;
  box-shadow: 0px 5px 40px rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
}
.manu1{
  color: rgb(255, 255, 255);
  display: inline-flex;
  list-style: none;
  padding-right:40px ;
  z-index: 1;
}

.manu1 li{
  margin: 40px;
  margin-top: 15px;
  cursor: pointer;
  font-family:URW Chancery L, cursive ;
   
}
.manu1 li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.manu1 li a:hover{ color: yellow;
  transform: scale(1.8);
   transition: .9s ;}
.manu1 li:hover{
   color: yellow;
   transform: scale(1.8);
    transition: .9s ;
}
#logo{
  position: absolute; 
}
#logo:hover{
  transform: scale(1.1);
  transition: .6s ;
  
}
.search{
position: absolute;
vertical-align: center;
margin-top: 300px;
margin-left: 400px;
}
.search input{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 30px 0px 0px 30px;
  width: 200%;
  box-shadow: 0px 5px 40px rgb(0, 0, 0);
}
.search button{
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(0, 183, 255);
  float: left;
  width: 20%;
  background: #0099ff;
  position: absolute;
  border-radius: 0px 30px 30px 0px;
}
#h1{
  position: absolute;
  color: #0099ff;
  text-align: center;
  margin-left: 550px;
  margin-top: 350px;
  cursor: pointer;
}
#h1:hover{
  color: yellow;
   transform: scale(1.1);
    transition: .6s ;
    cursor: pointer;
}
.point{
  color: #fffefe;
  display: inline-flex;
  margin-top: 380px;
  margin-left: 250px;
  position:absolute;
  font-size: 25px;
}
.point li{
  margin: 20px;
}
.point li:hover{
  color: yellow;
   transform: scale(1.1);
    transition: .6s ;
    cursor: pointer;

}
.closer{
  color: #fffefe;
  display: inline-flex;
  margin-top: 420px;
  margin-left: 400px;
  position:absolute;
  font-size: 25px;
}
.closer li{
  margin: 20px;
}

.closer li:hover{
  color: yellow;
   transform: scale(1.1);
    transition: .6s ;
    cursor: pointer;

}
#h2{
  position: absolute;
  color: #0099ff;
  text-align: center;
  margin-left: 500px;
  margin-top: 480px;
  cursor: pointer;
}

#h2:hover{
  color: yellow;
   transform: scale(1.1);
    transition: .6s ;
    cursor: pointer;
}

.date ul{
  position:relative ;  
  display: inline-flex;
  margin-top: 200px;
  margin-left: 650px;
}
.date ul li{
  margin:10px;
}

.date input{
  width: 250px;
  height: auto;
  border: 2px solid skyblue;
  font-size: 22px;
}
.chech{
  position:relative;
  float: right;
  margin-right: 150px;
  width: auto;

}
.chech ul li{
  text-decoration: none;
  display: inline-flex;
  margin: 20px 100px 0px 60px;
  color: #f1f1f1;
  box-shadow:10px 3px 5px rgb(0, 0, 0);
  background-color: rgb(0, 183, 255,0.7);
  border-radius: 20px;
  
}
.chech ul li:hover{
  color: rgb(0, 255, 13);
  transform: scale(1.1);
   transition: .6s ;
   cursor: pointer;
   text-shadow: 10px 5px 5px rgb(255, 0, 0);
}




/*footer*/


.fa-cloud{
  background:-webkit-linear-gradient(rgb(33, 150, 247),rgb(7, 42, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        
}

.fa-play{
    background:-webkit-linear-gradient(rgb(250, 254, 2),rgb(255, 60, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.fa-facebook{
  background:-webkit-linear-gradient(rgb(38, 0, 255),rgb(97, 132, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fa-instagram{
     
  background:-webkit-linear-gradient(rgb(255, 0, 0),rgb(255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-whatsapp {   
  background:-webkit-linear-gradient(rgb(0, 255, 55),rgb(61, 255, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .footer{
    height: 90%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top:35%;
    cursor: pointer;
 }

 .footer .img{
   height: 150px;
   width: 325px;
   margin-left:37%;
   position: relative;
 }
.footer .list
{
  display: flex;
}
 .footer ol li{
   color: rgb(0, 0, 0);
   display: flex;
   line-height:60px;
   margin-left: 20px;
   font-family: Comic Sans MS;
   padding-left: 100px;
 }

.fa-snapchat{
  color: yellow;
}
.fa-youtube{
  color: red;
}
.fa-twitter{
  background:-webkit-linear-gradient(rgb(33, 150, 247),rgb(7, 42, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

.fa-tiktok{
  color: black;
  text-shadow:  0px 1px 1px rgb(0, 153, 255),1px 0px 1px rgb(255, 0, 0);


}.footer h1{
  color: aliceblue;
  text-align: center;
  font-family:Monotype Corsiva;
  text-align: center;

  }

  .footer .list ol li:hover{
    color:orange;
  transform: scale(1.2);
  transition: .7s ;
  }
.footer .box{
  background-color: #000000be;
  z-index: auto;
  height: 400px;
  width: auto;
}
.box h1{
  color: #00ccff;
  font-size: 33px;
  margin-top: 70px;
  
}

.box ol li{
  font-size: 45px;
  margin: 20px;

}
.box ol{
  margin-top: 20px;
  align-items: center;
  display: inline-flex;
}
#line{
  border:2px solid rgb(0, 204, 255)
}









/*footer1*/

.footer1{
  height: 90%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top:210%;
  cursor: pointer;
}

.footer1 .img{
 height: 150px;
 width: 325px;
 margin-left:37%;
 position: relative;
}
.footer1 .list
{
display: flex;
}
.footer1 ol li{
 color: rgb(0, 0, 0);
 display: flex;
 line-height:60px;
 margin-left: 20px;
 font-family: Comic Sans MS;
 padding-left: 100px;
}

.fa-snapchat{
color: yellow;
}
.fa-youtube{
color: red;
}
.fa-twitter{
background:-webkit-linear-gradient(rgb(33, 150, 247),rgb(7, 42, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.fa-tiktok{
color: black;
text-shadow:  0px 1px 1px rgb(0, 153, 255),1px 0px 1px rgb(255, 0, 0);


}.footer1 h1{
color: aliceblue;
text-align: center;
font-family:Monotype Corsiva;
text-align: center;

}

.footer1 .list ol li:hover{
  color:orange;
transform: scale(1.2);
transition: .7s ;
}
.footer1 .box{
background-color: #000000be;
z-index: auto;
height: 400px;
width: auto;
}
.box h1{
color: #00ccff;
font-size: 33px;
margin-top: 70px;

}

.box ol li{
font-size: 45px;
margin: 20px;

}
.box ol{
margin-top: 20px;
align-items: center;
display: inline-flex;
}
#line{
border:2px solid rgb(0, 204, 255)
}

.gallery{
  margin-left:75px ;
  margin-top: 180px;
  position: absolute;
  /*background-color: aqua;
  box-shadow: 0px 5px 40px rgb(0, 0, 0,0.7); */ 
  width: 90%;
}
.gallery ol li{
  list-style: none;
  display: inline-flex;
  margin: 50px;
  box-shadow: 0px 0px 15px 10px rgb(255, 255, 255) ; 

}
.gallery ol li h1{
  position: absolute;
  height: 148px;
  width: 298px;
  background-color: rgba(0,0,0,0.6);
  color: #f1f1f1;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
}

.gallery ol li h1:hover{
  cursor: pointer;
  background-color: transparent;
transform: scale(0.8);
transition: .7s ;
color: transparent;
border-radius: 20px;
border: transparent;
  
}
.gallery ol h1{
  background-color: turquoise;
  width: auto;
  text-align: center;
}
/*footer3*/
.footer3{
  height: 90%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top:0%;
  cursor: pointer;
}

.footer3 .img{
 height: 150px;
 width: 325px;
 margin-left:37%;
 position: relative;
}
.footer3 .list
{
display: flex;
}
.footer3 ol li{
 color: rgb(0, 0, 0);
 display: flex;
 line-height:60px;
 margin-left: 20px;
 font-family: Comic Sans MS;
 padding-left: 100px;
}

.fa-snapchat{
color: yellow;
}
.fa-youtube{
color: red;
}
.fa-twitter{
background:-webkit-linear-gradient(rgb(33, 150, 247),rgb(7, 42, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.fa-tiktok{
color: black;
text-shadow:  0px 1px 1px rgb(0, 153, 255),1px 0px 1px rgb(255, 0, 0);


}.footer3 h1{
color: aliceblue;
text-align: center;
font-family:Monotype Corsiva;
text-align: center;

}

.footer3 .list ol li:hover{
  color:orange;
transform: scale(1.2);
transition: .7s ;
}
.footer3 .box{
background-color: #000000be;
z-index: auto;
height: 400px;
width: auto;
}
.box h1{
color: #00ccff;
font-size: 33px;
margin-top: 70px;

}

.box ol li{
font-size: 45px;
margin: 20px;

}
.box ol{
margin-top: 20px;
align-items: center;
display: inline-flex;
}
#line{
border:2px solid rgb(0, 204, 255)
}


/*footer2*/


.footer2{
  height: 90%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top:150%;
  cursor: pointer;
}

.footer2 .img{
 height: 150px;
 width: 325px;
 margin-left:37%;
 position: relative;
}
.footer2 .list
{
display: flex;
}
.footer2 ol li{
 color: rgb(0, 0, 0);
 display: flex;
 line-height:60px;
 margin-left: 20px;
 font-family: Comic Sans MS;
 padding-left: 100px;
}

.fa-snapchat{
color: yellow;
}
.fa-youtube{
color: red;
}
.fa-twitter{
background:-webkit-linear-gradient(rgb(33, 150, 247),rgb(7, 42, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.fa-tiktok{
color: black;
text-shadow:  0px 1px 1px rgb(0, 153, 255),1px 0px 1px rgb(255, 0, 0);


}.footer2 h1{
color: aliceblue;
text-align: center;
font-family:Monotype Corsiva;
text-align: center;

}

.footer2 .list ol li:hover{
  color:orange;
transform: scale(1.2);
transition: .7s ;
}
.footer2 .box{
background-color: #000000be;
z-index: auto;
height: 400px;
width: auto;
}
.box h1{
color: #00ccff;
font-size: 33px;
margin-top: 70px;

}

.box ol li{
font-size: 45px;
margin: 20px;

}
.box ol{
margin-top: 20px;
align-items: center;
display: inline-flex;
}
#line{
border:2px solid rgb(0, 204, 255)
}

.service{
  cursor: pointer;
  margin-top: 180px;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(226, 212, 172, 0.945);
  
}
.service h1{
  margin-top: 30px;
}
.service h1:hover{
  color:orange;
  transform: scale(1.1);
  transition: .7s ;
}

.ser1{
  cursor: pointer;
  margin-top: 400px;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(240, 194, 69, 0.945);
  
}
.ser1 h1{
  margin-top: 30px;
}

.ser1 h1:hover{
  color:orange;
  transform: scale(1.1);
  transition: .7s ;
}

.ser2{
  cursor: pointer;
  margin-top: 620px;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(148, 221, 64, 0.945);
  
}
.ser2 h1{
  margin-top: 30px;
}
.ser2 h1:hover{
  color:orange;
  transform: scale(1.1);
  transition: .7s ;
}




.ser3{
  cursor: pointer;
  margin-top: 850px;
  position: absolute;
  width: 100%;
  height: 125%;
  background-color: rgba(197, 188, 188, 0.911);
  
}
.ser3 h1{
  margin-top: 30px;
}


.ser3 ol li{
  list-style: none;
  display: inline-flex;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  /*
  box-shadow: 0px 0px 15px 10px rgb(255, 255, 255) ; 
  */height: 300px;
  width: 250px;
  border-radius: 20px;
}
.ser3 ol li i{
  color: #ffbb00c7;
  height: 20px;
  font-size: 60px;
  margin-top: 25px;
  margin-left: 90px;
  
}
.ser3 ol li h2{
  height:20px;
  color: #000000;
  position: absolute;
  margin-top:140px;
  margin-left: 25px;

}


.ser3 ol li p{
  height:20px;
  color: #000000;
  position: absolute;
  margin-top:180px;
  margin-left: 25px;

}